/* 
    Document   : kathy
    Created on : Mar 18, 2013, 9:23:02 PM
    Author     : kathy
    Description:
        Purpose of the stylesheet follows.
*/

root { 
	display: block;
}

body {
	background-color: #e6e6e6;
}

h1,h2,h3,h4,h5,h6,p {font-family: 'Open Sans', Helvetica, Arial, sans-serif;}

h1,h2,h3,h4,h5 {color: rgb(68, 68, 68);}

p,ul,h6  {font-size: 14px;
color: rgb(68, 68, 68);}

a:link {color:#636363;}      /* unvisited link */
a:visited {color:#636363;}  /* visited link */
a:hover {color:black;font-weight:bold;}  /* mouse over link */
a:active {color:navy;}  /* selected link */

table,tr,td,th {border: 1px solid black;
padding: 2px;}

#wrapper {
	margin-left: auto;
  margin-right: auto;
	width: 1020px;
	height: 100%;
	background-color: white;
	margin-top: 40px;
	padding-top: 30px;
	box-shadow: 1px 2px 6px rgba(100, 100, 100, 0.3);
}

.white {background-color: white;}

.grey_text {color: #636363;}

.bold_text {font-weight: bolder;}

.full_height {
	min-height:500px;
}

.top_space {margin-top: 10px;}

